{% extends "website/base.html" %}
{% block 'title' %}Buy{% endblock 'title' %}

{% block 'hero' %}

<div class="min-h-screen  pt-28 px-6 md:px-16 text-white ">

    <div class="glass max-w-3xl mx-auto rounded-3xl shadow-xl p-8">

        <!-- Heading -->
        <h2 class="text-3xl font-bold text-center mb-6">Checkout</h2>

        <form method="POST">
                  {% csrf_token %}
              {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
         <span class="text-red-600 text-sm mt-1"> {{error}}<br></span>
        {% endfor %}
        {% endif %}
          <!-- Personal Details -->
            <div class="glass p-6 rounded-2xl mb-8">
                <h3 class="text-xl font-semibold mb-4">Personal Information</h3>

                <div class="grid md:grid-cols-1  gap-4">
                    <div>
                {% for field in form %}
                {% if field.html_name != 'item' and field.html_name != 'payment_method' and field.html_name != 'quantity' and field.html_name != 'price' %}
                <label class="text-gray-300" for="{{field.html_name}}">{{field.label_tag}}</label>
                 <input type="{{field.field.widget.input_type}}" id="{{field.html_name}}" name="{{field.html_name}}" class="{{field.field.widget.attrs.class}}" placeholder="{{form.field.widget.attrs.placeholder}}">
                 
               

                {% if field.errors %}
                {% for error in field.errors %}
                <span class="text-red-600 text-sm mt-1"> {{error}}<br></span>
                {% endfor %}
                {% endif %}
                {% endif %}

                {% if field.html_name == 'item' %}
                 <label class="text-gray-300" for="{{field.html_name}}">{{field.label_tag}}</label>
                 <input type="{{field.field.widget.input_type}}" id="{{field.html_name}}" name="{{field.html_name}}" class="{{field.field.widget.attrs.class}}" value="{{item_name}}" readonly>

                 {% endif %}
                     

                 {% if field.html_name == 'quantity' %}
                 <label class="text-gray-300" for="{{field.html_name}}">{{field.label_tag}}</label>
                 <input type="{{field.field.widget.input_type}}" id="{{field.html_name}}" name="{{field.html_name}}" class="{{field.field.widget.attrs.class}}" value="{{quantity_of_order}}" readonly>

                 {% endif %}

                  {% if field.html_name == 'price' %}
                 <label class="text-gray-300" for="{{field.html_name}}">{{field.label_tag}}</label>
                 <input type="{{field.field.widget.input_type}}" id="{{field.html_name}}" name="{{field.html_name}}" class="{{field.field.widget.attrs.class}}" value="Rs.{{price_of_order}}" readonly>

                 {% endif %}
                        
                        <br>

                        
                
               
                


                 {% endfor %}

                   {% for value,label in form.payment_method.field.choices %}
                 <div class="space-y-3">
                 <label class="flex items-center gap-3 p-3 glass rounded-xl cursor-pointer">

                      <input
                type="{{ form.payment_method.field.widget.input_type }}"
                name="{{ form.payment_method.html_name }}"
                value="{{ value }}"
                class="h-5 w-5">


            <span class="text-white">{{ label }}</span>

                  </label>
                  </div>
                 
                 
                   {% endfor %}
                  {% for error in form.payment_method.errors %}
                   <span class="text-red-600 text-sm mt-1"> {{error}}<br></span>
                   {% endfor %}

                 
                        </div>
                        </div>
            </div>


         <!-- Place Order Button -->
            <div class="text-center mt-6">
                <input type='submit' class="px-6 py-3 bg-blue-600 hover:bg-blue-700 rounded-2xl shadow transition" value="submit">
           
              
            </div>

        </form>


    </div>
</div>
{% endblock 'hero' %}


<!-- <form method="POST" enctype="multipart/form-data" novalidate>
      

          
    
                     
                       
                    {% if form.name.errors %}
                    {% for error in form.name.errors %}
                   
                    {% endfor %}
                        {% endif %}
                        </div>

                   

                        <label class="text-gray-300" for="{{form.email.html_name}}">{{form.email.label_tag}}</label>
                        <input type="{{form.email.field.widget.input_type}}" id="{{form.email.html_name}}" name="{{form.email.html_name}}" class="w-full mt-1 p-3 rounded-xl bg-white/10 border border-white/20 text-white" placeholder="Enter your email.">
                    {% if form.email.errors %}
                    {% for error in form.email.errors %}
                    <span class="text-red-600 text-sm mt-1"> {{error}}<br></span>
                    {% endfor %}
                        {% endif %}

                        </div>

                        
                             <div>

                        <label class="text-gray-300" for="{{form.phone.html_name}}">{{form.phone.label_tag}}</label>
                        <input type="{{form.phone.field.widget.input_type}}" id="{{form.phone.html_name}}" name="{{form.phone.html_name}}" class="w-full mt-1 p-3 rounded-xl bg-white/10 border border-white/20 text-white" placeholder=" (e.g., 03001234567 or +9230001234567).">
                    {% if form.phone.errors %}
                    {% for error in form.phone.errors %}
                    <span class="text-red-600 text-sm mt-1"> {{error}}<br></span>
                    {% endfor %}
                        {% endif %}

                        </div>

                        

                    
                </div>
            </div>

            <!-- Shipping Details -->
            <div class="glass p-6 rounded-2xl mb-8">
                <h3 class="text-xl font-semibold mb-4">Shipping Information</h3>

                <div class="space-y-4">
                    <div>
                        <label class="text-gray-300">Address</label>
                        <input type="{{form.address.field.widget.input_type}}" name="{{form.phone.html_name}}" 
                               class="w-full mt-1 p-3 rounded-xl bg-white/10 border border-white/20 text-white"
                               required>
                         {% if form.address.errors %}
                    {% for error in form.address.errors %}
                    <span class="text-red-600 text-sm mt-1"> {{error}}<br></span>
                    {% endfor %}
                        {% endif %}
                    </div>

                    <div class="grid md:grid-cols-2 gap-4">
                        <div>
                            <label class="text-gray-300">City</label>
                            <input type="{{form.city.field.widget.input_type}}" name="{{form.city.html_name}}" 
                                   class="w-full mt-1 p-3 rounded-xl bg-white/10 border border-white/20 text-white"
                                   required>
                                    {% if form.city.errors %}
                    {% for error in form.city.errors %}
                    <span class="text-red-600 text-sm mt-1"> {{error}}<br></span>
                    {% endfor %}
                        {% endif %}
                        </div>

                        <div>
                            <label class="text-gray-300">Postal Code</label>
                            <input type="{{form.postal_code.field.widget.input_type}}" name="{{form.postal_code.html_name}}" 
                                   class="w-full mt-1 p-3 rounded-xl bg-white/10 border border-white/20 text-white"
                                   required>
                                    {% if form.postal_code.errors %}
                    {% for error in form.postal_code.errors %}
                    <span class="text-red-600 text-sm mt-1"> {{error}}<br></span>
                    {% endfor %}
                        {% endif %}
                        </div>
                    </div>
                    <div class="grid md:grid-cols-2 gap-4">
                        <div>
                            <label class="text-gray-300">Item</label>
                            <input type="text" value="{{item_name}}" 
                                   class="w-full mt-1 p-3 rounded-xl bg-white/10 border border-white/20 text-white"
                                   disabled>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Payment Method -->
            <div class="glass p-6 rounded-2xl mb-8">
                

                <div class="space-y-3">

                    <label class="flex items-center gap-3 p-3 glass rounded-xl cursor-pointer">
                        <input type="{{form.payment_method.field.widget.input_type}}" name="{{form.payment_method.html_name}}" value="cod" class="h-5 w-5" checked>
                         {% if form.payment_method.errors %}
                    {% for error in form.payment_method.errors %}
                    <span class="text-red-600 text-sm mt-1"> {{error}}<br></span>
                    {% endfor %}
                        {% endif %}
                        <span class="text-white">Cash on Delivery</span>
                    </label>

                    <label class="flex items-center gap-3 p-3 glass rounded-xl cursor-pointer">
                        <input type="{{form.payment_method.field.widget.input_type}}" name="{{form.payment_method.field.widget.input_type}}" value="easypaisa" class="h-5 w-5">
                        {% if form.payment_method.errors %}
                    {% for error in form.payment_method.errors %}
                    <span class="text-red-600 text-sm mt-1"> {{error}}<br></span>
                    {% endfor %}
                        {% endif %}
                        <span class="text-white">Easypaisa</span>
                    </label>

                    <label class="flex items-center gap-3 p-3 glass rounded-xl cursor-pointer">
                        <input type="{{form.payment_method.field.widget.input_type}}" name="{{form.payment_method.html_name}}" value="jazzcash" class="h-5 w-5">
                        {% if form.payment_method.errors %}
                    {% for error in form.payment_method.errors %}
                    <span class="text-red-600 text-sm mt-1"> {{error}}<br></span>
                    {% endfor %}
                        {% endif %}
                        <span class="text-white">JazzCash</span>
                    </label>

                    <label class="flex items-center gap-3 p-3 glass rounded-xl cursor-pointer">
                        <input type="{{form.payment_method.field.widget.input_type}}" name="{{form.payment_method.html_name}}" value="bank" class="h-5 w-5">
                         {% if form.payment_method.errors %}
                    {% for error in form.payment_method.errors %}
                    <span class="text-red-600 text-sm mt-1"> {{error}}<br></span>
                    {% endfor %}
                        {% endif %}
                        <span class="text-white">Bank Transfer</span>
                    </label>

                    
                </div>
            </div>

           
        </form> -->